<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Blog| Help</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      
      To get help on this blog, see the
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>
  </body>
</html>